@charset "utf-8";

/* 공통 */
.container{
  position: relative;
  width: 1280px;
  margin-left: calc((100% - 1280px)/2 + 40px);
}
.cont_container{
  position: absolute; left: 50%; top: 50%;
  transform: translate(-50%,-50%);
  width: 85%;
}
.icon24{
  display: block;
  width: 24px; height: 24px;
  text-indent: -9999px;
  background-image: url(../images/icon24.png);
  cursor: pointer;
}
.icon16{
  display: inline-block;
  width: 16px; height: 16px;
  text-indent: -9999px;
  background-image: url(../images/icon16.png);
  cursor: pointer;
}

/* 공통 - font */
body{color: #707070; font-family: 'Noto Sans KR', sans-serif;}
p,.sub_m ul li a{font-size: 1.25em;}
h2{font-size: 1.6em;}
h3, nav p{font-size: 1.4em;}
.sub li a{font-size: 1.1em; line-height: 1.8;}
footer p,address,footer a,select{
  color: #fff;
  font-size: 1em; line-height: 1.9;
}
footer small{color: #fff;}



/* #menu */
#menu{
  position: fixed; left: 0; top: 0;
  width: 80px; height: 100%;
  color: #fff;
  background-color: #AEAFAF;
}
#menu.show-gnb{
  width: 360px; z-index: 1000;
  background-color: #fff;
}

.ham_menu{
  position: relative;
  margin: 30px auto;
  width: 30px; height: 24px;
  cursor: pointer;
}
.ham_menu span{
  position: absolute; left: 0;
  height: 2px;
  background-color: #fff;
  transition:all 0.4s;
}
.ham_menu .ham1{top: 0; width: 100%;}
.ham_menu .ham2{top: 12px; width: 75%;}
.ham_menu .ham3{bottom: 0; width: 50%;}
.ham_menu:hover .ham2,
.ham_menu:hover .ham3{width: 100%;}

.close{
  display: none;
  margin: 30px 30px 60px;
  color: #333;
  background-position: 0 0;
}

.gnb{display: none; text-indent: 30px;}
.gnb p{
  width: 100%; height: 60px;
  line-height: 60px;
  cursor: pointer;
}
.gnb .yellow{background-color: #F3BA51;}
.gnb .red{background-color: #DA3732;}
.gnb .blue{background-color: #67C1EA;}
.gnb .dark-red{background-color: #440C0A;}
.gnb .gray{background-color: #A7A9AC;}

.sub{display: none; margin: 20px 0;}
.sub li{}
.sub li a{}

.yellow+.sub li a:hover,
.yellow+.sub li a.on{color: #F3BA51;}
.red+.sub li a:hover,
.red+.sub li a.on{color: #DA3732;}
.blue+.sub li a:hover,
.blue+.sub li a.on{color: #67C1EA;}
.dark-red+.sub li a:hover,
.dark-red+.sub li a.on{color: #440C0A;}
.gray+.sub li a:hover,
.gray+.sub li a.on{color: #A7A9AC;}

#n_icon{
  position: absolute; right: 28px; bottom: 30px;
  width: 24px;
}
#n_icon a{}
#n_icon a:nth-child(1){background-position: -24px 0;}
#n_icon a:nth-child(2){margin: 20px 0; background-position: -48px 0;}
#n_icon a:nth-child(3){background-position: -72px 0;}

.menu_bg{
  display: none;
  position: fixed; left: 0; top: 0; z-index: 900;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.7);
}
/* finish #menu */



/* header */
header{z-index: 1000;}
header h1{
  width: 280px; 
  margin: 35px auto 50px;
}
header h1 a{
  display: block; 
  height: 54px;
  text-indent: -9999px;
  background-image: url(../images/logo.png); background-repeat: no-repeat;
}
/* finish header */



/* #main */
#main{}
#main article{margin-bottom: 50px;}

#banner{overflow: hidden;}
#banner .banner{
  position: relative;
  width: 200%;
}
#banner .banner a{
  display: block;
  float: left;
  width: 50%;
  margin-bottom: 50px;
  outline: 1px solid #eee;
}
#banner .banner a img{}

#notice{
  overflow: hidden;
  width: 100%; height: 80px;
  outline: 1px solid #AEAFAF;
}
#notice table{
  display: block; 
  overflow: hidden;
  width: 100%; height: 30px; 
  margin-top: 27px;
}
#notice thead{
  float: left;
  width: 10%;
}
#notice tbody{
  float: left;
  position: relative;
  width: 90%;
}
#notice tbody tr{
  display: none;
  position: relative;
  width: 100%;
}
#notice tbody tr:first-child{display: block;}
#notice tbody .notify{}
#notice tbody .date{position: absolute; right: 0; top: 0;}

#content{}
#content .cont{}

#content .exhibition{
  position: relative;
  height: 447px;
  margin-bottom: 50px;
  outline: 1px  solid red;
}
#content .exhibition img{
  display: block;
  float: right;
  width: 66.66%;
}
#content .exhibition figcaption{
  float: right;
  left: 0;
  transform: translate(0,-50%);
  width: 33.33%;
}
#content .exhibition figcaption h2{margin: 10px 0 25px;}
#content .exhibition figcaption p:nth-of-type(2){margin: 50px 0 65px;}
#content .exhibition figcaption p strong{margin-right: 15px; line-height: 1.7;}
#content .exhibition figcaption a{
  display: block;
  position: relative;
  width: 70%; height: 40px;
  line-height: 40px; text-indent: 20px;
  outline: 1px solid #707070;
}
#content .exhibition figcaption a span{position: absolute; right: 20px; top: 12px;}

#content .program{}
#content .program section{
  float: left;
  width: 24%; height: 350px;
  margin-right: 2%;
  outline: 1px solid green;
}

#content .program .related{
  position: relative;
  color: #fff;
  background-color: #707070;
}
#content .program .related h3{margin-top: 5px;}
#content .program .related p{margin: 20px 0 30px;}
#content .program .related p strong{margin-right: 10px;}
#content .program .related a{
  display: block;
  position: relative;
  height: 40px;
  color: #fff; line-height: 40px; text-indent: 20px;
  outline: 1px solid #fff;
}
#content .program .related a span{
  position: absolute; right: 20px; top: 12px;
  background-position: -16px 0;
}

#content .program .tour{
  width: 48%;
  margin-right: 0;
}
/* finish #main */



/* footer */
footer{
  padding: 25px 0;
  background-color: #2E2E2E;
}

.f_left{}
.f_left p{
  position: relative;
  width: 227px;
}
.f_left p span{position: absolute; right: 0; top: 0;}
.f_left address{margin-top: 35px;}
.f_left address span{margin-left: 20px;}


.f_right{position: absolute; right: 0; top: 0;}
.fnb li{text-align: right;}
select{
  margin-top: 35px;
  padding: 10px 40px 10px 15px;
  background: url(../images/down_triangle.png) no-repeat 88% 50%;
  border: 1px solid #fff; border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none; 
  appearance: none;
}
/* finish footer */



/* media query */
@media screen and (max-width:1279px){
  /* 공통 */
  .container{
    width: 95%;
    margin-left: 2.5%;
  }
  
  /* #menu */
  #menu{
    position: relative;
    left: inherit; top: 48px; 
    width: 1030px; height: 24px;
    margin: 0 auto;
    background: none;
  }
  #menu.show-gnb{
    position: fixed; right: 0; top: 0; 
    height: 100%;
  }
  .ham_menu{
    position: absolute; right: 20px; top: 0;
    margin: 0;
  }
  .ham_menu span{
    left: inherit; right: 0;
    background-color: #6F6F6F;
  }
  #n_icon{display: none;}
  
  /* header */
  header h1{width: 240px; margin-top: 10px;}
  header h1 a{height: 46px;}
  
  /* #main */
  #content .program section{height: 335px;}
} /* finish max-width:1279px */


@media screen and (max-width:1039px){
  body{font-size: 12px;}
  
  /* #menu */
  #menu{width: 100%;}
  
  /* #main */
  #notice{height: 70px;}
  #notice table{height: 25px; margin-top: 24px;}
  #notice thead{width: 13%;}
  #notice tbody{width: 87%;}
  #content .program section{
    width: 47.5%; height: 310px;
    margin-right: 5%;
  }
  #content .program .related{margin-right: 0;}
  #content .program .tour{display: none;}
  
  /* footer */
  footer{padding: 20px 0;}
} /* finish max-width:1039px */


@media screen and (max-width:768px){
  body{font-size: 11px;}
  
  /* #menu */
  #menu.show-gnb{width: 65%;}
  
  /* header */
  header h1{
    width: 160px;
    margin: 20px auto 30px;
  }
  header h1 a{
    height: 31px;
    background-image: url(../images/m_logo.png);
  }
  
  /* #main */
  #notice{height: 60px;}
  #notice table{height: 20px; margin-top: 21px;}
  #notice thead{width: 25%;}
  #notice tbody{width: 75%;}
  #notice tbody .date{display: none;}
  #content .program section{height: 290px;}
  
  /* footer */
  footer{padding: 15px 0;}
  .f_left address{margin-top: 15px;}
  .f_right{
    position: static;
    margin-bottom: 15px;
  }
  .fnb li{
    display: inline-block;
    margin-right: 15px;
  }
  select{display: none;}
} /* finish max-width:768px */
