@charset "utf-8";

/* 공통 */
.container{
  position: relative;
  width: 1280px;
  margin: 0 auto;
}

/* 공통 - font */
body{font-family: 'Noto Sans KR', sans-serif;}
p{font-size: 1.4em;}
footer p,small,address,footer a,select{
  color: #fff;
  font-size: 1em; line-height: 1.9;
}

/* footer */
footer{
  padding: 40px 0;
  background-color: #2E2E2E;
}

.f_left{}
.f_left p{
  position: relative;
  width: 227px;
}
.f_left p span{
  position: absolute; right: 0; top: 0;
}
.f_left address{margin-top: 35px;}
.f_left address span{margin-left: 20px;}


.f_right{
 position: absolute; right: 0; top: 0; 
}
.fnb li{text-align: right;}
select{
  margin-top: 35px;
  padding: 10px 40px 10px 15px;
  background: url(../images/down_triangle.png) no-repeat 88% 50%;
  border: 1px solid #fff; border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none; 
  appearance: none;
}

/* footer - 1280px 이하 */
@media screen and (max-width:1279px){
  .container{width: 95%;}
}

@media screen and (max-width:768px){
  .f_left address{margin-top: 15px;}
  
  .f_right{
    position: static;
    margin-bottom: 15px;
  }
  .fnb li{
    display: inline-block;
    margin-right: 15px;
  }
  select{display: none;}
}
