@charset "utf-8";


/* 공통 .sub_m */
.sub_m{margin-bottom: 50px;}
.sub_m ul{
  display: flex;
  justify-content: space-between;
}
.sub_m ul li{}
.sub_m ul li a{
  color: #707070;
  font-weight: 500;
}
.sub_m ul li a:hover{color: #333;}

.sub_m ul li a.yellow{color: #F3BA51;}
.sub_m ul li a.red{color: #DA3732;}
.sub_m ul li a.blue{color: #67C1EA;}
.sub_m ul li a.dark-red{color: #440C0A;}
.sub_m ul li a.gray{color: #A7A9AC;}

/* 공통 .visit */
.visit{margin-bottom: 100px;}

/* 공통 .visit_common */
.visit_common{
  position: absolute;
  padding: 40px 50px;
  background-color: #fff;
}
.visit_common h3{margin-bottom: 30px;}
.visit_common h3:nth-of-type(2){margin-top: 50px;}
.visit_common p,.visit_common ol li{line-height: 2;}
.visit_common p span{position: absolute; right: 0; top: 0;}
.visit_common small{
  display: block; 
  width: 277px; 
  margin: 10px auto 0; 
  text-align: left;
}

/* #visit_info */
#visit_info{}
#visit_info .bg{}
#visit_info .visit_common{
  left: 50%; top: 45%;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
}
#visit_info .visit_common p:not(:last-child){
  position: relative;
  width: 277px;
  margin: 0 auto;
  text-align: left;
}

/* #visit_member */
#visit_member{}
#visit_member .bg{}
#visit_member .bg img{}
#visit_member .visit_common{
  right: 0; top: 50%;
  transform: translateY(-50%);
}


/* media query */
@media screen and (max-width:1379px){
  /* 공통 .visit */
  .visit{margin-bottom: 150px;}
  
  /* 공통 .visit_common */
  .visit_common{padding: 35px 45px;}
  .visit_common h3{margin-bottom: 25px;}
  .visit_common h3:nth-of-type(2){margin-top: 45px;}
} /* finish max-width:1379px */


@media screen and (max-width:1039px){
  /* 공통 .visit */
  .visit{margin-bottom: 160px;}
  
  /* 공통 .visit_common */
  .visit_common{padding: 30px 40px;}
  .visit_common h3{margin-bottom: 20px;}
  .visit_common h3:nth-of-type(2){margin-top: 40px;}
  .visit_common small{width: 244px;}
  
  /* #visit_info */
  #visit_info .visit_common p:not(:last-child){width: 244px;}
  
  /* #visit_member */
  #visit_member .visit_common{
    left: 50%; top: 45%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
  }
} /* finish max-width:1039px */


@media screen and (max-width:768px){
  /* 공통 .sub_m */
  .sub_m{margin-bottom: 30px;}
  
  /* 공통 .visit_common */
  .visit_common{padding: 20px 30px;}
  .visit_common h3{margin-bottom: 15px;}
  .visit_common h3:nth-of-type(2){margin-top: 30px;}
  .visit_common small{width: 227px;}
  
  /* #visit_info */
  #visit_info .visit_common p:not(:last-child){width: 227px;}
} /* finish max-width:768px */
