@charset "utf-8";


/* 공통 .sub_m */
.sub_m{margin-bottom: 50px;}
.sub_m ul{
  display: flex;
  justify-content: space-between;
}
.sub_m ul li{}
.sub_m ul li a{
  color: #707070;
  font-weight: 500;
}
.sub_m ul li a:hover{color: #333;}

.yellow{color: #F3BA51;}
.red{color: #DA3732;}
.blue{color: #67C1EA;}
.dark-red{color: #440C0A;}
.gray{color: #A7A9AC;}

/* 공통 .visit */
.visit{margin-bottom: 100px;}

/* 공통 .visit_common */
.visit_common{
  position: absolute;
  padding: 40px 50px;
  background-color: #fff;
}
.visit_common h3{margin-bottom: 30px;}
.visit_common h3:nth-of-type(2){margin-top: 50px;}
.visit_common p,.visit_common ol li{line-height: 2;}


/* #visit_info */
#visit_info{}
#visit_info .bg{}
#visit_info .visit_common{
  left: 50%; top: 45%;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
}
#visit_info .visit_common p:not(:last-child){
  position: relative;
  width: 277px;
  margin: 0 auto;
  text-align: left;
}
#visit_info .visit_common p span{position: absolute; right: 0; top: 0;}
#visit_info .visit_common small{
  display: block; 
  width: 277px; 
  margin: 10px auto 0; 
  text-align: left;
}


/* #visit_member */
#visit_member{}
#visit_member .bg{}
#visit_member .bg img{}
#visit_member .visit_common{
  right: 0; top: 50%;
  transform: translateY(-50%);
}


/* #visit_seminar */
#visit_seminar{}
#visit_seminar .bg{}
#visit_seminar .visit_common{
  left: 50%; top: 45%;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
}
#visit_seminar .visit_common table{margin: 0 auto;}
#visit_seminar .visit_common th,
#visit_seminar .visit_common td{
  padding: 15px; 
  border: 1px solid #707070;
}
#visit_seminar .visit_common th:first-child,
#visit_seminar .visit_common td:first-child{border-left: 0;}
#visit_seminar .visit_common th:last-child,
#visit_seminar .visit_common td:last-child{border-right: 0;}


/* #visit_enjoy */
#visit_enjoy{margin-bottom: 50px;}
#visit_enjoy article{}
#visit_enjoy article p{width: 47.5%;}
#visit_enjoy article p:first-of-type{position: absolute; right: 0; top: 0;}
#visit_enjoy article p:not(:first-of-type){
  float: left;
  margin-top: 50px;
}
#visit_enjoy article p:last-of-type{margin-left: 5%;}


/* #visit_map */
#visit_map{margin-bottom: 50px;}
#visit_map .visit_common{position: inherit;}
#visit_map .visit_common div{float: left;}
#visit_map .visit_common div:first-child{width: 30%;}
#visit_map .visit_common div:last-child{width: 70%;}
#visit_map .visit_common div p{}
#visit_map .visit_common div p:not(:last-child){margin-bottom: 40px;}
#visit_map .visit_common div p strong{
  display: block;
  margin-bottom: 15px;
  font-weight: 500;
}
#visit_map .visit_common div p:last-child{font-weight: 300;}
#visit_map .visit_common div p span{
  margin-right: 10px; 
  font-weight: 400;
}
#visit_map .sehwa_map{border: 1px solid #e1e1e1; box-sizing: border-box;}
#visit_map .sehwa_map iframe{width: 100%; height: 660px;}


/* 공통 .museum */
.museum{}
.museum p{
  line-height: 1.8;
  text-align: justify;
}
.museum p:not(.tit){margin: 0 auto 30px;}
.museum .tit{
  margin-bottom: 70px;
  text-align: center;
  font-weight: 500;
}

/* #museum_greetings */
#museum_greetings{}
#museum_greetings article{}
#museum_greetings article p:not(.tit){width: 55%;}
#museum_greetings article p.tit{
  display: inline-block;
  position: relative; left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
}
#museum_greetings article p.tit .quotes{
  position: absolute;
  color: #d4d4d4;
  font-size: 5em;
}
#museum_greetings article p.tit .l_quotes{left: -60px; top: -60px;}
#museum_greetings article p.tit .r_quotes{right: -60px; bottom: -125px;}
#museum_greetings article p:last-child{text-align: right;}


/* #museum_intro */
#museum_intro{}
#museum_intro article{}
#museum_intro article figure{
  width: 80%;
  margin: 0 auto;
}
#museum_intro article figure img{
  display: block; 
  float: left; 
  width: 48%;
}
#museum_intro article figure figcaption{float: right; width: 48%;}


/* #museum_found */
#museum_found{}
#museum_found .found_tab{float: left;}
#museum_found .found_tab li{
  margin-bottom: 20px;
  color: #d4d4d4;
  font-weight: 500;
  cursor: pointer;
}
#museum_found .found_tab li.on{color: #707070;}

#museum_found .found_img{
  float: left;
  width: 23%;
  margin: 0 40px;
}
#museum_found .found_img figcaption{
  display: none;
  margin-top: 20px;
  font-weight: 500;
}

#museum_found .found_tabbox{
  display: none;
  float: left;
}
#museum_found .found_tabbox.show{display: block;}
#museum_found .found_tabbox h3{margin-bottom: 40px;}
#museum_found .found_tabbox .txt{}
#museum_found .found_tabbox .txt p{
  width: 66.66%;
  margin-left: 0;
}
#museum_found .found_tabbox .found_guide{margin-top: 80px;}
#museum_found .found_tabbox .found_guide figure{
  float: left;
  width: 31.33%;
}
#museum_found .found_tabbox .found_guide figure:nth-of-type(2){margin: 0 3%;}
#museum_found .found_tabbox .found_guide figure img{margin: 35px 0 25px;}
#museum_found .found_tabbox .found_guide figure figcaption{line-height: 2;}

#museum_found .founder{}
#museum_found .founder ol{}
#museum_found .founder ol li{}
#museum_found .founder ol li strong{
  display: inline-block;
  width: 15%;
  margin-bottom: 20px;
  font-weight: 500;
}


/* media query */
@media screen and (max-width:1379px){
  /* 공통 .visit */
  .visit{margin-bottom: 150px;}
  
  /* 공통 .visit_common */
  .visit_common{padding: 35px 45px;}
  .visit_common h3{margin-bottom: 25px;}
  .visit_common h3:nth-of-type(2){margin-top: 45px;}
  
  /* #visit_map */
  #visit_map .visit_common div{float: none;}
  #visit_map .visit_common div:first-child{width: 100%;}
  #visit_map .visit_common div:last-child{
    width: 100%;
    margin-top: 50px;
  }
  
  /* #museum_greetings */
  #museum_greetings article p:not(.tit),
  #museum_intro article figure{width: 100%;}
  
  /* #museum_found */
  #museum_found .found_tabbox .txt p{width: 100%;}
} /* finish max-width:1379px */


@media screen and (max-width:1039px){
  /* 공통 .visit */
  .visit{margin-bottom: 160px;}
  
  /* 공통 .visit_common */
  .visit_common{padding: 30px 40px;}
  .visit_common h3{margin-bottom: 20px;}
  .visit_common h3:nth-of-type(2){margin-top: 40px;}
  
  /* #visit_info */
  #visit_info .visit_common p:not(:last-child){width: 244px;}
  #visit_info .visit_common small{width: 244px;}
  
  /* #visit_member */
  #visit_member .visit_common{
    left: 50%; top: 45%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
  }
  
  /* #visit_map */
  #visit_map .sehwa_map iframe{height: 450px;}
  
  /* #museum_greetings */
  #museum_greetings article p.tit .l_quotes{top: -55px;}
  #museum_greetings article p.tit .r_quotes{bottom: -105px;}
  
  /* #museum_found */
  #museum_found .found_tabbox .found_guide{margin-top: 50px;}
} /* finish max-width:1039px */


@media screen and (max-width:768px){
  /* 공통 .sub_m */
  .sub_m{margin-bottom: 30px;}
  
  /* 공통 .visit_common */
  .visit_common{padding: 20px 30px;}
  .visit_common h3{margin-bottom: 15px;}
  .visit_common h3:nth-of-type(2){margin-top: 30px;}
  
  /* #visit_info */
  #visit_info .visit_common p:not(:last-child){width: 227px;}
  #visit_info .visit_common small{width: 227px;}
  
  /* #visit_seminar */
  #visit_seminar .visit_common th,
  #visit_seminar .visit_common td{
    padding: 10px 5px;
    border-width: 0.5px;
  }
  
  /* #visit_enjoy */
  #visit_enjoy article p{width: 100%;}
  #visit_enjoy article p:first-of-type{position: inherit; width: 80%;}
  #visit_enjoy article p:not(:first-of-type){float: none;}
  #visit_enjoy article p:last-of-type{margin-left: 0;}
  
  /* #visit_map */
  #visit_map .visit_common div p:not(:last-child){margin-bottom: 30px;}
  #visit_map .visit_common div p strong{margin-bottom: 10px;}
  #visit_map .sehwa_map iframe{height: 350px;}
  
  /* #museum_greetings */
  #museum_greetings article p.tit .l_quotes{top: -50px;}
  #museum_greetings article p.tit .r_quotes{bottom: -95px;}
  
  /* #museum_found */
  #museum_found .founder ol li strong{width: 25%;}
  #museum_found .found_tabbox .found_guide{margin-top: 40px;}
  #museum_found .found_tabbox .found_guide figure img{margin: 25px 0 15px;}
} /* finish max-width:768px */
