@charset "utf-8";

/* 공통 .sub_m */
.sub_m{margin-bottom: 50px;}
.sub_m ul{
  display: flex;
  justify-content: space-between;
}
.sub_m ul li{}
.sub_m ul li a{
  color: #707070;
  font-size: 18px; font-weight: 500;
}
.sub_m ul li a:hover{color: #333;}

.sub_m ul li a.yellow{color: #F3BA51;}
.sub_m ul li a.red{color: #DA3732;}
.sub_m ul li a.blue{color: #67C1EA;}
.sub_m ul li a.dark-red{color: #440C0A;}
.sub_m ul li a.gray{color: #A7A9AC;}


/* #visit_info */
#visit_info{margin-bottom: 100px;}
#visit_info .bg{}
#visit_info .cont{
  position: absolute; left: 50%; top: 45%;
  transform: translateX(-50%);
  width: 80%;
  padding: 40px 50px;
  background-color: #fff;
  text-align: center;
}
#visit_info .cont h3{margin-bottom: 30px;}
#visit_info .cont p{line-height: 2;}
#visit_info .cont p:nth-of-type(1){
  width: 277px;
  margin: 0 auto 50px;
}
#visit_info .cont p span{margin-left: 50px;}
#visit_info .cont p small{display: block; text-align: left;}



/* media query */
@media screen and (max-width:1279px){
  /* #visit_info */
  #visit_info{margin-bottom: 140px;}
  #visit_info .cont{padding: 35px 45px;}
  #visit_info .cont h3{margin-bottom: 25px;}
  #visit_info .cont p:nth-of-type(1){margin-bottom: 45px;}
} /* finish max-width:1279px */


@media screen and (max-width:1039px){
  /* #visit_info */
  #visit_info{margin-bottom: 150px;}
  #visit_info .cont{padding: 30px 40px;}
  #visit_info .cont h3{margin-bottom: 20px;}
  #visit_info .cont p:nth-of-type(1){width: 242px; margin-bottom: 40px;}
} /* finish max-width:1039px */


@media screen and (max-width:768px){
  /* #visit_info */
  #visit_info .cont{padding: 20px 30px;}
  #visit_info .cont h3{margin-bottom: 15px;}
  #visit_info .cont p:nth-of-type(1){
    width: 225px;
    margin-bottom: 30px;
  }
} /* finish max-width:768px */
